<! -- Created by Xudoyberdi Egamberdiyev 
Please contact before making any changes 
Tashkent, Uzbekistan -->

    {% extends 'base.html' %}
    {% block content %}

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Qazo nomozlari jadvali</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-danger  justify-content-center" id="show_alert" role="alert" {{ show_alert }}>

                <div class="text-center">
                    <h5 class="alert-heading">DIQQAT!</h5>
                    <p>
                        {{ alert.goto }}
                    </p>
                    <button class="hide_alert btn btn-primary justify-content-end">Tushunarli</button>

                </div>

            </div>
            <nav aria-label="...">
                <form action="{% url 'goto' %}">
                    <ul class="pagination pagination-lg">
                        <li class="page-item">
                            <input class="page-link" type="number" required name="year" placeholder="Yilni kirting">
                        </li>
                        <li class="page-item">
                            <select class="page-link" name="months" required>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </li>
                        <li class="page-item">
                            <button class="page-link" type="submit">
                                Qidirish
                            </button>

                        </li>
                    </ul>
                </form>

            </nav>
        </div>
    </div>

    <div class="card">
            <div class="card-header ">
                <div class="header-title d-flex justify-content-center">
                    <h4 class="card-title">
                        <a class="" href="{% url 'report' year=now_year month=now_month %}">
                           Bugun: {{ date_today|date:"Y F" }}
                        </a>
                    </h4>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered bg-light">
                    <thead>
                        <tr>
                            <th>Sana</th>
                            <th>Bomdod</th>
                            <th>Peshin</th>
                            <th>Asr</th>
                            <th>Shom</th>
                            <th>Xufton</th>
                            <th>Vitr Vojib</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for today in qadas %}
                        <tr>
                            <td><b>{{ today.date|date:"d-M-Y l" }}</b></td>
                            <td class={{ today.bomdod }}> <!-- Bomdod  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='bomdod' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='bomdod' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='bomdod' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>
                            <td class={{ today.peshin }}> <!-- Peshin  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='peshin' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='peshin' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='peshin' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>
                            <td class={{ today.asr }}> <!-- Asr  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='asr' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='asr' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='asr' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>
                            <td class={{ today.shom }}> <!-- Shom  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='shom' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='shom' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='shom' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>
                            <td class={{ today.xufton }}> <!-- Xufton  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='xufton' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='xufton' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='xufton' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>
                            <td class={{ today.vitr }}> <!-- Vitr Vojib  -->
                                <a href="{% url 'gr' pk=today.id status='bg-success' type='vitr' %}"
                                    class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i
                                        class="fa-solid fa-thumbs-up"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-warning' type='vitr' %}"
                                    class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i
                                        class="fa-solid fa-handshake"></i></a>
                                <a href="{% url 'gr' pk=today.id status='bg-danger' type='vitr' %}"
                                    class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i
                                        class="fa-solid fa-thumbs-down"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>



    <div class="card">
        <div class="card-header d-flex justify-content-center">
            <div class="header-title">
                <h4 class="card-title">Kalendar bo'yicha (O'qilmay qolgan nomozlar)</h4>
            </div>
        </div>
        <div class="card-body">
            <div id="calendar">
            </div>
        </div>
    </div>




    <script>
        // Get all 'td' elements with the class 'bg-danger'
        var tdElements = document.querySelectorAll('td.bg-danger');

        // Loop through each 'td' element
        tdElements.forEach(function (td) {
            // Get all 'a' elements with the class 'btn danger' within the current 'td' element
            var aElements = td.querySelectorAll('a.btn-danger');

            // Loop through each 'a' element and remove it
            aElements.forEach(function (a) {
                a.remove();
            });
        });

        // Get all 'td' elements with the class 'bg-danger'
        var tdElements = document.querySelectorAll('td.bg-warning');

        tdElements.forEach(function (td) {
            var aElements = td.querySelectorAll('a.btn-warning');

            aElements.forEach(function (a) {
                a.remove();
            });
        });

        // Get all 'td' elements with the class 'bg-danger'
        var tdElements = document.querySelectorAll('td.bg-success');

        tdElements.forEach(function (td) {
            var aElements = td.querySelectorAll('a.btn-success');

            aElements.forEach(function (a) {
                a.remove();
            });
        });

    </script>





    <script>
        document.addEventListener('DOMContentLoaded', function () {


            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                height: 'auto',
                header: {
                    left: 'prevYear prev today next nextYear',
                    center: 'title',
                    right: 'dayGridMonth timeGridDay'
                  },
                defaultView: 'dayGridMonth',
                defaultDate: '{{ date_today|date:"Y-m-01" }}',
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: false, // allow "more" link when too many events
                events: {{ events|safe }}, // start with default event array

            });
            calendar.render();


            var button_prev = document.querySelector('.fc-prev-button');
            var button_prev_year = document.querySelector('.fc-prevYear-button');
            var button_next = document.querySelector('.fc-next-button');
            var button_next_year = document.querySelector('.fc-nextYear-button');
            var button_today = document.querySelector('.fc-today-button');


            button_prev.addEventListener('click', function() {

                var dateStr = calendar.getDate();
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;


                fetch('/qada-events/?year=' + year + '&month=' + month)
                        .then(response => response.json())
                        .catch((error) => console.error('Error:', error))
                        .then(data => {
                            calendar.removeAllEvents(); // remove old events
                            data.events.forEach(one_data => {
                                calendar.addEvent(one_data); // add new events
                            });
                        });

             });
            button_prev_year.addEventListener('click', function() {
                var dateStr = calendar.getDate();
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;

                fetch('/qada-events/?year=' + year + '&month=' + month)
                        .then(response => response.json())
                        .catch((error) => console.error('Error:', error))
                        .then(data => {
                            calendar.removeAllEvents(); // remove old events
                            data.events.forEach(event => {
                                calendar.addEvent(event); // add new events
                            });
                        });

             });

            button_next.addEventListener('click', function() {
                   var dateStr = calendar.getDate();
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;


                fetch('/qada-events/?year=' + year + '&month=' + month)
                        .then(response => response.json())
                        .catch((error) => console.error('Error:', error))
                        .then(data => {
                            calendar.removeAllEvents(); // remove old events
                            data.events.forEach(event => {
                                calendar.addEvent(event); // add new events
                            });
                        });

             });

             button_today.addEventListener('click', function() {
                var dateStr = calendar.getDate();
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;


                fetch('/qada-events/?year=' + year + '&month=' + month)
                        .then(response => response.json())
                        .catch((error) => console.error('Error:', error))
                        .then(data => {
                            calendar.removeAllEvents(); // remove old events
                            data.events.forEach(event => {
                                calendar.addEvent(event); // add new events
                            });
                        });

             });

            button_next_year.addEventListener('click', function() {
                                   var dateStr = calendar.getDate();
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;


                fetch('/qada-events/?year=' + year + '&month=' + month)
                        .then(response => response.json())
                        .catch((error) => console.error('Error:', error))
                        .then(data => {
                            calendar.removeAllEvents(); // remove old events
                            data.events.forEach(event => {
                                calendar.addEvent(event); // add new events
                            });
                        });
             });
        });



    </script>



    {% endblock %}