{% extends 'base.html' %}
{% load static %}
{% block title %} User Profile {% endblock %}
{% block pagetitle %} Profile {% endblock %}
{% block page_title%} User Profile{% endblock %}

{% block content %}

<style>
    .card-body-1{
        background-image: url({% static "img.png" %})
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img {% if request.user.gender %}
                                 src="{% static 'ddist/img/avatar.png' %}"
                                 {% else %}
                                 src="{% static 'ddist/img/avatar2.png' %}"
                                 {% endif %} alt="" class="border w-auto" style="border-radius: 20px; width: 15%">
                        </div>

                        <h3 class="profile-username text-center">{{ request.user.full_name }}</h3>

                        <p class="text-muted text-center">{{ request.user.specialty }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Ball</b> <a class="float-right">{{card_user.balance}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Daraja</b> <a class="float-right">{{ request.user.level }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone</b> <a class="float-right">{{ request.user.phone }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active mr-3" href="#action"
                                                    data-toggle="tab">User Malumotlari </a></li>
                            <li class="nav-item"><a class="nav-link " href="#activity"
                                                    data-toggle="tab">User kartasi</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show" id="activity" role="tabpanel"
                                 aria-labelledby="product-comments-tab">
                                {% if card_user %}
                                <div class="card-body-1 card text-light d-inline-block mr-3 mt-2 w-auto"
                                     style="max-width: 28rem; width: 26%; border-radius: 20px">
                                    <div class="card-body">
                                        <h4 class="card-text">{{ card_user.name }}</h4>
                                        <p class="card-text"><b>{{ card_user.balance }} сум</b></p>
                                        <p class="card-text text-uppercase">{{ card_user.user.full_name }}</p>
                                        <p class="card-text"><span class="showNum" id="card_number">{{ card_user.mask }} <i
                                                class="fas fa-eye show_number" onclick="show_number()"></i></span> <span class="ml-5"> {{ card_user.expire }}</span>
                                        </p>
                                    </div>
                                </div>
                                {% else %}
                                <h3 class="text-info">
                                    Sizning nomingizga karta ochilmagan
                                </h3>
                                {% endif %}
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="{% static 'auth/logo1.png' %}"
                                             alt="user image">
                                        <span class="username">
                            <span class="text-primary">Fintech Inavation hub</span>
                            </span>
                                        <span class="description">Ish vaqti 9:00 dan 22:00 gacha</span>
                                    </div>
                                    <p>
                                        Siz FintechHub O'quv markazining maxsus <a href="" title="Bu yerda oferta linki bor">oferta</a> Shartlarini
                                        qabul qilgansiz.<br> Iltimos, Kelishilgan shartlarni bajaring. O'qish va Izlanishdan to'xtamang.
                                        Siz hamma kabi <mark>DASTURCHI</mark> bo'lishingiz emas Boshqalardan yaxshiroq <mark>DASTURCHI</mark> bo'lishingiz kerak
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane active" id="action" role="tabpanel"
                                 aria-labelledby="product-comments-tab">
                                <form method="post" class="form-group">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="firstn">First name</label>
                                            <input class="form-control" id="firstn" type="text"
                                                   value="{{ request.user.first_name }}" name="first_name" required>
                                        </div>
                                        <div class="col-6">
                                            <label for="lastn">Last name</label>
                                            <input class="form-control" id="lastn" type="text"
                                                   value="{{ request.user.last_name }}" name="last_name" required>
                                        </div>
                                    </div>
                                    <label for="username">Username</label>
                                    <input class="form-control" id="username" type="text"
                                           value="{{ request.user.username }}" name="username"
                                           placeholder="Your username" required>
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" type="text" value="{{ request.user.email }}"
                                           name="email">
                                    <label for="phone">Phone</label>
                                    <input class="form-control " id="phone" type="text" value="{{ request.user.phone }}"
                                           disabled>
                                    <button type="submit" class="btn btn-outline-success float-right mt-4">
                                        Malumotlarni o'zgartirish <i class="fas fa-save"></i>
                                    </button>
                                    <a href="" data-toggle="modal"
                                       data-target="#ChangePasswordModal{{ request.user.id }}"
                                       title="Parolni o'zgartirish" class="btn btn-primary mt-4 mr-3 float-right">
                                        Parolni o'zgartirish <i class="fas fa-key"></i>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ChangePasswordModal{{ request.user.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Parolni O'zgartirish</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="post" action=""
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-body">Yangi Parolni kiriting</div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control form-control-sm" name="password" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% if request.user.ut == 3 %}
<hr>
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                {% if done %}
                <div class="card-header">
                    <h3 class="card-title">Algaritmlar</h3>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Algaritm ID</th>
                            <th>Bonus</th>
                            <th>Ball</th>
                            <th>Holati</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in done %}

                        <tr>
                            <td>
                                <a href="#">{{ i.algarithm_id }} <sup><span class="bg-purple rounded text-sm p-1">Masala ishlangan</span></sup></a>
                            </td>
                            <td>{{ i.bonus }} <i class="fa-solid fa-coins"></i></td>
                            <td>{{ i.ball }}</td>
                            {% if i.status == 'Bajarilmoqda' %}
                            <td><span class="text-info">
                                Bajarilmoqda
                                <a href="#" class="bg-success rounded text-sm p-1">Bajarildi</a>
                              </span></td>
                            {% elif i.status == 'Tekshirilmoqda' %}
                            <td><span class="text-primary">
                                Tekshirilmoqda
                              </span></td>
                            {% elif i.status == 'Muaffaqiyatli' %}
                            <td><span class="text-success">
                                Muaffaqiyatli
                              </span></td>
                            {% elif i.status == 'Xato' %}
                            <td><span class="text-danger">
                                Xato
                              </span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="card-header">
                    <h3 class="card-title text-dark">Siz hech qanday Algaritm ishlamagansiz 🤔 <i
                            class="fa-regular fa-hand-point-right"></i></h3>
                    <a href="#" class="float-right btn btn-outline-success btn-sm">Malasa ishlash</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<script>
<!--    var res = document.querySelector('.show_number')-->
<!--    var span = document.querySelector(".showNum")-->
<!--    console.log("salommm")-->
<!--    console.log("{{ card_user.number }}")-->
<!--    res.onclick = function() {-->
<!--           span.innerHTML = "{{ card_user.number }}"-->

<!--    }-->

    var number = '{{ card_user.number }}'
    var mask = '{{ card_user.mask }}'
    console.log(number)
    function show_number(){
      document.getElementById('card_number').innerHTML =  `
                        <span id="card_number_to_hide">${number}
                              <i class="fa fa-eye-slash" onclick="hide_number()">
                              </i>
                        </span>
      `;
    }
    function hide_number(){
      document.getElementById('card_number_to_hide').innerHTML = `
                        <span id="card_number">${mask}
                              <i class="fa fa-eye" onclick="show_number()">
                              </i>
                        </span>
      `;
    };

</script>


{% endblock %}