<! --
Created by Xudoyberdi Egamberdiyev

Please contact before making any changes

Tashkent, Uzbekistan
-->

{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header d-flex justify-content-between">
     <div class="header-title">
        <h4 class="card-title">Qazo nomozlari jadvali</h4>
     </div>
  </div>
  <div class="card-body">
        <nav aria-label="...">
           <ul class="pagination pagination-lg">
              <li class="page-item">
                  <a class="page-link" href="{% url 'report' year=prev_year month=prev_month %}">
                      <span class="text-danger">Avvalgi</span>: {{ prev|date:"Y  F" }}
                  </a></li>

              <li class="page-item active" aria-current="page">
                 <span class="page-link">
                 Hozirgi:  {{ info|date:"Y  F" }}
                 <span class="sr-only">(current)</span>
                 </span>
              </li>
               {% if next %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'report' year=next_year month=next_month %}">
                      <span class="text-danger">Keyingi</span>: {{ next|date:"Y  F" }}
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="{% url 'report' year=now_year month=now_month %}">
                      <span class="text-danger">Bugun</span>: {{ next|date:"Y  F" }}
                  </a>
              </li>
                {% endif %}
           </ul>


            <form action="{% url 'goto' %}">
                <ul class="pagination pagination-lg">
                    <li class="page-item">
                      <input class="page-link" type="number" required name="year" placeholder="Yilni kirting">
                    </li>
                    <li class="page-item">
                        <select class="page-link" name="months" required>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </li>
                    <li class="page-item">
                        <button class="page-link" type="submit">
                            Qidirish
                        </button>

                    </li>
                </ul>
            </form>

        </nav>




       <div class="card-header d-flex justify-content-between">
             <div class="header-title">
                <h4 class="card-title">Oy bo'yicha <mark>(Sana: {{ info|date:"Y  F" }})</mark></h4>
             </div>
          </div>

     <div class="table-responsive">

        <table class="table table-striped table-bordered">
           <thead>
              <tr>
                 <th>Sana</th>
                 <th>Bomdod</th>
                 <th>Peshin</th>
                 <th>Asr</th>
                 <th>Shom</th>
                 <th>Xufton</th>
                 <th>Vitr Vojib</th>
              </tr>
           </thead>
           <tbody>
                {% for i in report_monthly %}
               <tr>
                 <td><b>{{ i.date|date:"d-M Y l" }}</b></td>
                 <td class={{ i.bomdod }}> <!-- Bomdod  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='bomdod' %}"  class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='bomdod' %}"  class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='bomdod' %}"   class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>
                 <td class={{ i.peshin }}> <!-- Peshin  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='peshin' %}"  class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='peshin' %}"  class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='peshin' %}"   class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>
                 <td class={{ i.asr }}> <!-- Asr  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='asr' %}" class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='asr' %}" class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='asr' %}"  class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>
                 <td class={{ i.shom }}> <!-- Shom  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='shom' %}"  class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='shom' %}"  class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='shom' %}"   class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>
                 <td class={{ i.xufton }}> <!-- Xufton  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='xufton' %}"  class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='xufton' %}"  class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='xufton' %}"   class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>
                 <td class={{ i.vitr }}> <!-- Vitr Vojib  -->
                    <a href="{% url 'gr' pk=i.id status='bg-success' type='vitr' %}" class="btn rounded-pill btn-success" title="Vaqtida o'qidim"><i class="fa-solid fa-thumbs-up"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-warning' type='vitr' %}" class="btn rounded-pill btn-warning" title="Qazosi o'qidim"><i class="fa-solid fa-handshake"></i></a>
                    <a href="{% url 'gr' pk=i.id status='bg-danger' type='vitr' %}"  class="btn rounded-pill btn-danger" title="Qazosi Qilganman"><i class="fa-solid fa-thumbs-down"></i></a>
                 </td>

              </tr>
                {% endfor %}

           </tbody>
           <tfoot>
              <tr>
                 <th>Sana</th>
                 <th>Bomdod</th>
                 <th>Peshin</th>
                 <th>Asr</th>
                 <th>Shom</th>
                 <th>Xufton</th>
                 <th>Vitr Vojib</th>
              </tr>
           </tfoot>
        </table>
     </div>
  </div>
</div>



  <script>
      // Get all 'td' elements with the class 'bg-danger'
    var tdElements = document.querySelectorAll('td.bg-danger');

    // Loop through each 'td' element
    tdElements.forEach(function(td) {
        // Get all 'a' elements with the class 'btn danger' within the current 'td' element
        var aElements = td.querySelectorAll('a.btn-danger');

        // Loop through each 'a' element and remove it
        aElements.forEach(function(a) {
            a.remove();
        });
    });

    // Get all 'td' elements with the class 'bg-danger'
    var tdElements = document.querySelectorAll('td.bg-warning');

    tdElements.forEach(function(td) {
        var aElements = td.querySelectorAll('a.btn-warning');

        aElements.forEach(function(a) {
            a.remove();
        });
    });

    // Get all 'td' elements with the class 'bg-danger'
    var tdElements = document.querySelectorAll('td.bg-success');

    tdElements.forEach(function(td) {
        var aElements = td.querySelectorAll('a.btn-success');

        aElements.forEach(function(a) {
            a.remove();
        });
    });

  </script>


{% endblock %}


